* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
}

#page {
  display: grid;
  grid-template: 
  "header header" 3.9rem
  "main single" auto
  "footer single" 5rem
  /6fr 4fr;
  height: 100vh;
  max-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#recordHeader {
  display: flex;
}

#headerDiv {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8rem;
  grid-area: header;
  height: 100%;
  display: flex;
  gap: 1.176rem;
  align-items: center;
}

header {
  margin-left: 1.176rem;
}

footer {
  grid-area: footer;
  display: flex;
  gap: 10px;
  align-items: end;
  margin: 10px;
}

#singleRecordView {
  grid-area: single;
  border-left: solid black 3px;
}

#noRecordSelected {
  font-size: 2.3rem;
  grid-area: single;
  align-self: center;
  justify-self: center;
}

#addRecordBtn, #searchReleaseBtn {
  height: 3rem;
  width: 4rem;
  border-radius: 0.35rem;
  border: none;
  font-size: 1rem;
  background-color: #E5E1DA;
}

#addRecordBtn:hover {
  background-color: #d4d0c8;
}
.test {
  background-color: #faf4c3;
}

@media screen and (max-width: 1920px) {

html {
  font-size: 14px;
}

}