<div id="headerDiv">
  <header>WaxBase</header>
  <wb-menubar></wb-menubar>
  <!-- <button id="addRecordBtn">Add<br>record</button>
  <button id="searchReleaseBtn">Search<br>release</button> -->
</div>