<div id="page">
  <%- include('../partials/header') %>
    <div id="noRecordSelected">No record selected</div>
    <div id="selectedRecordView">

    </div>
    <%- include('../partials/footer') %>
</div>